body {
  font-family: "Montserrat";
  text-decoration-style: wavy;
  background-color: #e4f6f5;
    text-align: center;
}


hr {
  border: dotted #FF8C00 6px;
  border-bottom: none;
  width: 10%;
  margin: 67px auto;
}
h1 {
  margin-top: 75px;

}

h1:hover {
  color: #FF8C00 ;
  text-decoration: none;
}

h2 {
  margin-top: 79px;
}

h2:hover {
  color: #FF8C00 ;
  text-decoration: none;
}

h3 {
  margin-top: 30px;
}

h3:hover {
  color: #FF8C00 ;
  text-decoration: none;
}

.Fade-In-Text {
  font-family: Arial;
  animation: fadeInTop 4s;
  -webkit-animation: fadeIn 4s;
-moz-animation: fadeIn 4s;
-o-animation: fadeIn 4s;
-ms-animation: fadeIn 4s;
}

@keyframes fadeInTop {
0% { opacity: 0; }
100% { opacity: 1; }
}


@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}




.Fade-In-Text1 {
  font-family: Arial;
  animation: fadeInTop 4s;
  -webkit-animation: fadeIn 4s;
-moz-animation: fadeIn 4s;
-o-animation: fadeIn 4s;
-ms-animation: fadeIn 4s;
}

@keyframes fadeInTop {
0% { opacity: 0; }
100% { opacity: 1; }
}


@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
